@import "tailwindcss";


/* @theme is valid in Tailwind CSS v4 */

@theme{
    --color-primary: #EFECE3;
    --color-secondary: #000000;
    --color-accent: #8fabd4;
}

/* For Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 12px; /* Set the width */
}

*::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
}

*::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888 transparent; /* thumb color track color */
}